.button-show-more,
.button-show-more--active {

    display: block;
    margin-top: 16px;
    border: none; 
    background-color: $color-white;
    font-weight: $font-weight--medium;

    &::before {

        content: url(../img/main/icon-down.svg);
        padding-right: 16px;
        padding-left: 8px;

    }

    @media (min-width: $screen-md) {

        margin-top: 24px;

    }
    
}

.button-show-more--active {

    &::before {

        content: url(../img/main/icon-up.svg);

    }

}