.main {
    
    .main-title {
        font-size: $font-size--normal;
        line-height: $line-height--large;
        color: $text-color-grey;
        font-weight: $font-weight--light;
        letter-spacing: -0.2px;
        text-transform: uppercase;
    }

    & .companies {
        border-bottom: 1px solid $color-aqua--light;

        &__wrapper {
            margin: 16px 0px 24px 16px;

            @media (min-width: $screen-md) {
                margin: 16px 24px 24px 24px;
            }
        }
    
        &-swiper-wrapper,
          .more {
            @media (min-width: $screen-md) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
                justify-content: space-between;
                column-gap: 24px;
                row-gap: 16px;
            }

            @media (min-width: ($screen-xxl + 420px)) {
                grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
            }
        }

        & .more {
            display: none;

            &__container {
                margin-top: 16px;
            }
        }
    
        &__list {
            margin-top: 32px;

            @media (min-width: $screen-md) {
                margin-top: 40px;
            }
        }
    
        & .button__show-more {

            display: none;

            @media (min-width: $screen-md) {
                display: block;
            }
        }

        & .button__show-more {

            &::before {
              content: url(../img/main/icon-down.svg);
          }
        }
  
        & .button-show-more--active {

            &::before {
                content: url(../img/main/icon-up.svg);
            }
        }
    
        &-swiper-slide {
            display: flex;
            align-items: center;
            padding: 16px;
            width: 240px;
            justify-content: space-between;
            margin-right: 16px;
            border: none;
            background-color: $color-white;
            border: 1px solid $color-grey--light;
            border-radius: 6px;
     
            @media (min-width: $screen-md) {
                margin-right: 0px;
                width: auto;
            }
        }
    } 
        
    
    & .arrow {
        width: 40px;
        height: 40px;
        border: 2px solid $color-pink;
        border-radius: 50%;

        &::after {
            content: url('./../img/companies/arrow.svg');
            transform: translateY(50%);
            display: block;
        }
    }
}


.companies {

    & .swiper-slide {

        &--hidden {

            @media (min-width: $screen-md) {
                display: none;
            }
        }

        &--laptop-visible {

            @media (min-width: ($screen-lg + 24px)) {
                display: flex;
            }

            @media (min-width: ($screen-laptop)) {
                display: none;
            }

            @media (min-width: ($screen-xxl + 103px)) {
                display: flex;
            }
        }

        &--laptop-hidden {

            @media (min-width: ($screen-lg + 24px)) {
                display: none;
            }

            @media (min-width: ($screen-laptop)) {
                display: flex;
            }

            @media (min-width: ($screen-xxl + 103px)) {
                display: none;
            }
        }

        &--visibility-hidden {

            @media (min-width: ($screen-lg + 24px)) {
                display: flex;
                visibility: hidden;
            }
        }
    }
}
