.repair {
    
    &__swiper {

        margin-top: 32px;

        @media (min-width: $screen-md) {

            margin-top: 40px;

        }
    }

    & .swiper-pagination {

        display: block;
        margin-top: 20px;

        @media (min-width: $screen-md) {

            display: none;

        }
    }

    &__button-show-more {

        display: none;
        
        @media (min-width: $screen-md) {

            display: block;

        }
    }  
}