.footer {

    &__wrapper {

        margin: 16px 0px 16px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 120px;
        justify-content: space-between;
        font-size: $font-size--small;
        line-height: 16px;
        color: $text-color-grey;
    
        @media (min-width: $screen-md) {

            margin: 32px 24px 25px 24px;
            flex-direction: row;
            height: auto;

        }
    
        @media (min-width: $screen-laptop) {

            margin: 32px 24px 25px 308px;

        }
    }
}