.button {

    width: 40px;
    height: 40px;
    background: $color-pink;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {

        filter: saturate(2);
        transform: scale(1.15);
        transition-duration: 0.3s;

    }

}