.modal-window {
    display: none;

    @media (min-width: $screen-laptop) {
        display: block;
    }

    & .overlay {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(3px);

        @media (min-width: $screen-laptop) {
            display: none;
        }
    }

    & .aside {
        transform: translateX(-400px);
        transition-duration: 0.5s;
        transition-property: transform;
        z-index: 3;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        top: 0px;
        background: $color-white;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    
        @media (min-width: 360px) {
            width: 320px;
        }

        @media (min-width: $screen-laptop) {
            transform: translateX(0px);
            box-shadow: none;
            width: 22vw;
            position: absolute;
        }

        &--open {
            transform: translateX(0px);
        }
    
        &__wrapper {
            margin: 19px 16px 0px 16px;

            @media (min-width: $screen-xs) {
                margin: 19px 24px 0px 24px;
            }

            @media (min-width: $screen-laptop) {
                margin: 30px 24px 0px 24px;
            }
        }
    
        &-head,
        &-head__close,
        .buttons-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-head__close {
            min-width: 154px;

            & .button {
                @media (min-width: $screen-laptop) {
                    display: none;
                }
            }
        }

        &-body {
            height: 85vh;
            max-height: $screen-md;

            @media (min-height: $screen-md) {
                height: 90vh;
            }
        }

        &-body,
        .navigation__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        & .navigation {
            height: 60%;
            margin-top: 26px;

            @media (min-height: $screen-sm) {
                margin-top: 50px;
                height: 50%;
            }
        }

        & .navigation__list {
            height: 100%;
        }

        & .navigation__item a {
            display: block;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #1B1C21;
            font-weight: 500;
        }

        & .navigation__item--active a {
            color: #7E7E82;
        }

        & .navigation__item--active::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 32px;
            background-color: $color-aqua--bold;
            border-radius: 0px 5px 5px 0px;
            transform: translate(-16px, -5px);
            @media (min-width: $screen-xs) {
                transform: translate(-24px, -5px);
            }
        }
    }

    & .buttons-list {
        width: 152px;
    }

    & .info__link {
        display: block;
    }

    & .info___mail {
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 500;
        color: #1B1C21;
    }

    & .info___phone {
        margin-top: 12px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        font-weight: bold;
        color: #1B1C21;
    }

    & .languages-list {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 40%;
    }

    & .languages-list__ru a {
        display: inline-block;
    }

    & .languages-list__ru a,
    & .languages-list__en a,
    & .languages-list__ch a {
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;

        @media (min-height: $screen-sm) {
            margin-top: 40px;
        }
    }

    & .languages--active a {
        color: #7E7E82;
    }
}








