.companies {

    & .more {

        display: none;
        
    }

    &__list {

        margin-top: 32px;

        @media (min-width: $screen-md) {

            margin-top: 40px;

        }
    }
} 