.main-title {

    font-size: $font-size--normal;
    line-height: $line-height--large;
    color: $text-color-grey;
    font-weight: $font-weight--light;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    
}