.aside-body {

    height: 85vh;
    max-height: $screen-md;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-height: $screen-md) {

        height: 90vh;

    }

}
