body {
    max-width: 1440px;
    margin: 0 auto;
}

*, h1 {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: $font-family;
}

a {
    text-decoration: none;
}

button, li, a {
    cursor: pointer;
}