// Цвета
$color-grey--light:             #EAEAEA;
$color-pink:                    #FF3E79;
$color-aqua--light:             #D9FFF5;
$color-aqua:                    #B8FFEC;
$color-white:                   #FFFFFF;


// Текст
$font-family:      'TT Lakes', sans-serif;

$font-weight--light:                  400;
$font-weight--medium:                 500;
$font-weight--bold:                   600;
$line-height-normal:                  18px;

$text-color:                    #1B1C21;
$text-color-grey:               #7E7E82;


 
// $font-size:                   1.6rem;
// $font-size--h1:               3rem;
$font-size--small:                  14px;
$font-size--large:                  28px;
 
// $line-height:                 1.375em;
 

 
$screen-xxs:                            320px;
$screen-xs:                            480px;
$screen-sm:                            600px;
$screen-md:                            768px;
$screen-lg:                            992px;
$screen-xl:                           1144px;
$screen-xxl:                          1200px;

