.btn-offer-link {

    font-size: $font-size--normal;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: $font-weight--medium;
    display: block;
    text-align: left;

    & a {

        color: $text-color;

    }

    &::after {
        
        content: url('../img/main/pink-arrow.svg');
        position: relative;
        left: 8px;
        top: 2px;
        
    }
}