.description {

    &__text {
        
        margin-top: 16px;
        font-size: $font-size--small;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $text-color;
        width: 85%;

        @media (min-width: $screen-md) {

            width: 60%;

        }

        @media (min-width: $screen-laptop) {

            width: 50%;

        }
    }

    &__btn-offer {

        display: block;
        margin-top: 16px;
        border: none;
        background-color: $color-white;
        width: 70%;
        
    }
}