.prices {
    
    &__wrapper {

        padding-bottom: 40px;

        @media (min-width: $screen-md) {

            padding-bottom: 47px;
            
        }
    }

    &__swiper {

        margin-top: 32px;

    }

    & .swiper-pagination {

        margin-top: 16px;

    }

    & .swiper-wrapper {

        @media (min-width: $screen-md) {

            display: flex;
            flex-direction: column;
            margin-top: 50px;

        }
    }
}